<!DOCTYPE html>
<header id="header1" class="header">
  <div class="header-content">
  </div>
</header>
<%= render "layouts/navbar" %>
<div id="services" class="cards-1">
  <% if @jobs.nil? %>
    <p class="p-heading p-large">Currently we have not open positions</p>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Open Positions</h2>
          <p class="p-heading p-large">We serve small and medium sized companies in all tech related industries with
            high quality growth services which are presented below</p>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">
          <% @jobs.each do |job| %>
            <!-- Card -->
            <% if job.is_deleted == false %>
              <a href="job_applications/new?job_id=<%= job.id %>">
                <div class="card" style="width: 300px;height: 450px;padding:20px;margin: 30px; ">
                  <div class="card-body">
                    <h4 class="card-title" style="font-size: 25px"><%= job.job_title %></h4>
                    <p><%= job.job_details %></p>
                    <p style="font-size:17px;color: #0b0b0b;margin-bottom: 2px;">Technologies:</p>
                    <div style="font-size:15px;text-align:center;margin-bottom:10px; ">
                      <% job.technologies.each do |tool| %>
                        <span class="badge badge-pill badge-dark" style="background-color: #00bfd8;"><%= tool.name %></span>
                      <% end %>
                    </div>
                    <p style="font-size:16px;color: #0b0b0b; margin-bottom: 10px;"> Job type: <%= job.job_type %></p>
                    <p style="font-size:15px;color: #0b0b0b; margin-bottom: 2px;"> Positions: <%= job.positions %></p>
                    <p style="font-size:15px;color: #0b0b0b;margin-bottom: 2px; "> Education: <%= job.education %></p>
                    <p style="font-size:15px;color: #0b0b0b; margin-bottom: 2px;"> Experience: <%= job.experience %></p>
                  </div>
                </div>
              </a>
              <!-- end of card -->
            <% end %>
          <% end %>
  <% end %>
  </div> <!-- end of col -->
  </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->

<h6 style=" text-align: center;">If you did not see your dream job then please send your resume with job title in which you are interested </h6>
<div class="align-self-center text-center"style="font-size: 25px; "><%= link_to '<button type="button" class="badge badge-pill badge-dark "style="background-color: #00bfd8;">Send</button>'.html_safe, new_job_application_path(nil) %>
</div>
<footer id="colophon" class="site-footer tg-site-footer ">
  <%= render "layouts/footer" %>

</footer>




