<div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Trusted By</h5>
        <!-- Image Slider -->
        <div class="slider-container">
          <div class="swiper-container image-slider swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(-1735.2px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-2.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-3.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-4.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-5.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-6.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div>
              <div class="swiper-slide" data-swiper-slide-index="0" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-1.png",class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide" data-swiper-slide-index="1" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-2.png", class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide" data-swiper-slide-index="2" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-3.png", class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-4.png", class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-5.png", class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="5" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-6.png", class: "img-responsive", alt: "alternative")%>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 162.8px; margin-right: 30px;">
                <div class="image-container">
                  <%= image_tag("customer-logo-1.png",class: "img-responsive", alt: "alternative")%>
                </div>
              </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-2.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-3.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-4.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" style="width: 162.8px; margin-right: 30px;">
              <div class="image-container">
                <%= image_tag("customer-logo-5.png", class: "img-responsive", alt: "alternative")%>
              </div>
            </div></div> <!-- end of swiper-wrapper -->
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> <!-- end of swiper container -->
        </div> <!-- end of slider-container -->
        <!-- end of image slider -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div>






















