<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <a class="navbar-brand logo-image" href=""> <%= image_tag("hubex2.png", alt: "alternative") %></a>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to "Home",pages_path, class: "nav-link page-scroll" %>
      <%= link_to "Services", pages_path(anchor: "services"), class: "nav-link page-scroll" %>
      <%= link_to "Request", pages_path(anchor: "request"), class: "nav-link page-scroll" %>
      <%= link_to "Contact", pages_path(anchor: "contact"), class: "nav-link page-scroll" %>
      <%= link_to "Porfolio", projects_path, class: "nav-link page-scroll" %>
      <%= link_to "Jobs", jobs_path, class: "nav-link page-scroll" %>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Home",pages_path, class: "nav-link page-scroll" %>
      </li>
      <li class="nav-item">
        <%= link_to "Services", pages_path(anchor: "services"), class: "nav-link page-scroll" %>
      </li>
      <li class="nav-item">
        <%= link_to "Request", pages_path(anchor: "request"), class: "nav-link page-scroll" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", pages_path(anchor: "contact"), class: "nav-link page-scroll" %>
      </li>
      <li class="nav-item">
        <%= link_to "Porfolio", projects_path, class: "nav-link page-scroll" %>
      </li>
      <li class="nav-item">
        <%= link_to "Jobs", jobs_path, class: "nav-link page-scroll" %>
      </li>
    </ul>
  </div>
</nav> <!-- end of navbar -->

