<!DOCTYPE html>
<html>
<head>
  <title>Webpages</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('hubex-icon-32.png') %>

</head>
<body data-spy="scroll" data-target=".fixed-top">
<%= yield %>
</body>
</html>
